.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
}

.lista-filmes{
    margin: 15px;
}

.lista-filmes article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
}

.lista-filmes strong{
    padding-bottom: 15px;
    font-size: 22px;
}

.lista-filmes img{
    width: 900px;
    max-height: 350px;
}

.lista-filmes a{
    background-color: brown;
    color: white;
    font-size: 25px;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}